<h1>Welcome to Makichan.img!</h1>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
$(function(){
    var setElm = $('span');
    $(window).load(function(){
        setElm.each(function(){
            var self = $(this);
            $(this).parent().append(self);
        });
    });
});
</script>

<div>
<span style="color:#ff0000"><tt>真</tt></span>
<span style="color:#00ff00"><tt>姫</tt></span>
<span style="color:#0000ff"><tt>ち</tt></span>
<span style="color:#ff0000"><tt>ゃ</tt></span>
<span style="color:#00ff00"><tt>ん</tt></span>
</div>                            
<div>
<span style="color:#0000ff"><tt>か</tt></span>
<span style="color:#ff0000"><tt>わ</tt></span>
<span style="color:#00ff00"><tt>い</tt></span>
<span style="color:#0000ff"><tt>い</tt></span>
</div>                            
<div>                             
<span style="color:#ff0000"><tt>か</tt></span>
<span style="color:#00ff00"><tt>き</tt></span>
<span style="color:#0000ff"><tt>く</tt></span>
<span style="color:#ff0000"><tt>け</tt></span>
<span style="color:#00ff00"><tt>こ</tt></span>
<span style="color:#0000ff"><tt>！</tt></span>
</div>

<% @hex_matrix.each do |hex_arr| %>
    <div>
    <% hex_arr.each do |hex| %>
        <span style="color:#<%= hex  %>; font-size:9px"><tt>真</tt></span>
    <% end %>
    </div>
<% end %>
