<h1>Welcome to Makichan.img!</h1>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
$(function(){
    var setElm = $('span');
    $(window).load(function(){
        setElm.each(function(){
            var self = $(this);
            $(this).parent().append(self);
        });
    });
});
</script>

<span style="color:#ff0000">真</span>
<span style="color:#00ff00">姫</span>
<span style="color:#0000ff">ち</span>
<span style="color:#ff0000">ゃ</span>
<span style="color:#00ff00">ん</span>
<span style="color:#0000ff">か</span>
<span style="color:#ff0000">わ</span>
<span style="color:#00ff00">い</span>
<span style="color:#0000ff">い</span>
<span style="color:#ff0000">か</span>
<span style="color:#00ff00">き</span>
<span style="color:#0000ff">く</span>
<span style="color:#ff0000">け</span>
<span style="color:#00ff00">こ</span>
<span style="color:#0000ff">！</span>
<br>

<h1><%= @user[:name] %></h1>
<p><%= @user[:username] %></p>
<ul>
    <li>Location : <%= @user[:location] %> </li>
    <li>About    : <%= @user[:about] %></li>
</ul>
